# 编译产物
*.o
*.d
*.elf
*.hex
*.crf
*.lst
*.bin
*.out
*.map
*.iex
*.axf

# Keil MDK
Objects/
Listings/
DebugConfig/
JLinkLog.txt
EventRecorderStub.scvd
*.uvgui.*
*.uvoptx

# IAR
Debug/
Release/
settings/

# 临时文件
*.bak
*.tmp
*.dep

# IDE
.vscode/
.idea/

# SysConfig 工具 (TI 官网可下载, 含超大二进制文件)
sysconfig_1.20.0/
sysconfig_1.21.1/
